{% load static %}
{% load cache_bust %}
<!DOCTYPE HTML>
<html>
<head>
<title>{{view}} - Buy tickets online</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Buy_shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="{% static "css/bootstrap.css" %}" rel='stylesheet' type='text/css'  />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{% static "css/flexslider.css" %}" rel='stylesheet' type='text/css' />
<!-- plugin for the pic sliders -->
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Custom Theme files -->
<!--webfont-->
<script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="{% static "js/jquery.flexslider-min.js" %}?{% cache_bust %}"> </script>
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    touch:true,
    slideshowSpeed:5000,
    smoothHeight:false,
    animationLoop:true,
    slideshow:true,
    pauseOnHover:true,
  });
  $('.lots').flexslider({
        animation: "slide",
        animationLoop: true,
        itemMargin: 0,
        itemWidth:60,
        minItems: 4, // use function to pull in initial value
        maxItems: 4, // use function to pull in initial value
        touch:true,
        controlNav: false,
        pauseOnHover:true,
});
});
</script>
<!-- start menu -->
<link href="{% static "css/megamenu.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css'/>

<script type="text/javascript" src="{% static "js/megamenu.js" %}?{% cache_bust %}"></script>

<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
</head>
<body>
<div class="header_top">
	<div class="container">
		<div class="one-fifth column font">
			<span class="font">Buy tickets 24/7!</span>
         </div>
         <div class="cssmenu">
			<ul>
			    <li class="active"><a href="/login/">My Account</a></li> 
			</ul>
		 </div>
	</div>
</div>	
<div class="wrap-box"></div>
<div class="header_bottom">
	    <div class="container">
			<div class="col-xs-8 header-bottom-left">
				<div class="col-xs-2 logo">
                <h1><a href="/"><img class="img-responsive"src="{% static "images/tike.jpg" %}" style=""></a></h1>
				</div>
				<div class="col-xs-6 menu">
		            <ul class="megamenu skyblue">
				    <li class="grid"><a class="color2" href="#">Comedy Knights</a></li>				
				<li><a class="color5" href="#">Sport</a></li>
                <li><a class="color4" href="#">Movie &amp; Theatre</a></li>
                <li><a class="color3" href="#">Music</a></li>
			  </ul> 
			</div>
		</div>
	    <div class="col-xs-4">
	        <div class="search">	  
				<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
				<input type="submit" value="Subscribe" id="submit" name="submit">
				<div id="response"> </div>
		     </div>
	         <div class="clearfix"></div>
       </div>
        <div class="clearfix"></div>
	 </div>
</div>
{% block content%}
{% endblock %}

<div class="footer">
	<div class="container">
	   <div class="footer_top">
		<div class="col-md-4 box_3">
			<h3>Our Contacts</h3>
			<address class="address">
              <p>kk 19 av 9,<br> Kigali, Rwanda</p>
              <dl>
                 <dt></dt>
                 <dd>Tel1:<span> +(250) 787 316 070</span></dd>
                 <dd>Tel2: <span>+(250) 789 267 775</span></dd>
                 <dd>E-mail:&nbsp; <a href="mailto@example.com">tikerwanda@gmail.com</a></dd>
              </dl>
           </address>
           <ul class="footer_social">
			  <li><a href=""> <i class="fb"> </i> </a></li>
			  <li><a href=""><i class="tw"> </i> </a></li>
			  <li><a href=""><i class="google"> </i> </a></li>
			  <li><a href=""><i class="instagram"> </i> </a></li>
		   </ul>
		</div>
		<div class="col-md-4 box_3">
			<h3>Support</h3>
			<ul class="list_1">
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Payment</a></li>
                <li><a href="#">Refunds</a></li>
				<li><a href="#">Services</a></li>
			</ul>
			<ul class="list_1">
				<li><a href="#">Services</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
		</div>
		<div class="footer_bottom">
			<div class="copy">
                <p>Copyright © 2017 Tike Ltd. All Rights Reserved.
	        </div>
	    </div>
	</div>
</div>
</body>

</html>		  
    
    
