<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'html/base.html' %}
{% load static %}
{% block content %}
     
<div class="row">
	<div class="content_top">
	<div class="container">
    <div class="col-xs-12 col-md-8">
    	<div class="about-block-content">
		       <div class="border-add "></div>
				<h4>TITLE</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae quam voluptatibus deleniti ipsa consequatur!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<p>		        	</p>

				</div>
	<p><a class='button item_add' href=''></a>Buy ticket</p>		
				
	</div>
	<div class="col-xs-12 col-md-4">
		<img width="225" height="265" src="{% static "images/13256249_1350040745012899_7576798346934234756_n.jpg"%}" class="img-responsive"  alt="item4">
    </div>
    		
    		</div>
    	</div>
</div>
         
<div class="container">
<div class="row">        
 <div class="comments-area">
		  		        <h3>Add New Comment</h3>
						<form>
								<p>
									<label>Name</label>
									<span>*</span>
									<input type="text" value="">
								</p>
								<p>
									<label>Email</label>
									<span>*</span>
									<input type="text" value="">
								</p>
								
								<p>
									<label>Subject</label>
									<span>*</span>
									<textarea></textarea>
								</p>
								<p>
									<input type="submit" value="Submit Comment">
								</p>
					   </form>
			  </div>
</div>
<div class="content_bottom">
<div class="container">
	<h2 class="m_3">Recommended events</h2>
	<div class="grid_1">
		<div class="col-md-6 blog_1"><a href="index_single.html">
			<div class="item-inner"> 
				<img src="" class="img-responsive" alt=""/>																	
					<div class="date-comments">
						<div class="time"><span class="date"><span class="word1">14</span> <span class="word2">Jan</span> </span></div>											 
						<div class="comments">
						<span><span class="word1">0</span>
						<span class="word2">comment</span></span>
						</div>
					 </div>
			</div>   
		</a></div>
		<div class="col-md-6 row_2"><a href="index_single.html">
			<div class="item-inner"> 
				<img src="" alt=""/>																	
					<div class="date-comments">
						<div class="time"><span class="date"><span class="word1">14</span> <span class="word2">Jan</span> </span></div>											 
						<div class="comments">
						<span><span class="word1">0</span>
						<span class="word2">comment</span></span>
						</div>
					 </div>
			</div>   
	    </a></div>
		<div class="clearfix"></div>
	</div>
</div>	
</div>

  {% endblock %}
