<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'html/base.html' %}
{% load static %}
{% load cache_bust %}
{% block content %}
<div class="content_top">
	<div class="single_top">
	 <div class="container"> 
	  <div class="map">
	     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
	   </div>
	   <div class="col-md-9 contact_left">
		 	  <h1>Get in Touch</h1>
	  			  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
	  			 <form>
					<div class="column_2">
                     	<input type="text" class="text"  placeholder="" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					 	<input type="text" class="text"  placeholder="" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:2.7%">
					 	<input type="text" class="text"  placeholder="" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" style="margin-left:2.7%">
					</div>
					<div class="column_x">
	                   <textarea style="font-size: 1em;margin: 10px 0;border: 1px solid #DDDDDD;width:100%;color: #BDBDBD;background: none;height: 200px" width="100%" value="Message"  placeholder="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}"> Message 
	                   </textarea>
	                </div>
	                <div class="form-submit1">
			          <input type="submit" value="Send Message">
					</div>
					<div class="clearfix"> </div>
				  </form>
		 </div>
		 <div class="col-md-3 contact_right">
		 	<h2>Information</h2>
		 	<address class="address">
              <p>kk 19 av 9,<br> Kigali, Rwanda</p>
              <dl>
                 <dt></dt>
                 <dd>Tel1:<span> +(250) 787 316 070</span></dd>
                 <dd>Tel2: <span>+(250) 789 267 775</span></dd>
                 <dd>E-mail:&nbsp; <a href="mailto@example.com">tikerwanda@gmail.com</a></dd>
              </dl>
           </address>
		 </div>
      </div>
</div>  
    <div class="termscondition">
    </div>
    <div class="payment">
    </div>
    <div class="fq"></div>
    <div class="refunds"></div>
    <div class="trackorder"></div>
    
</div>
<div class="content_bottom">
<div class="container">
	<h2 class="m_3">Recommended events</h2>
	<div class="grid_1">
		<div class="col-md-6 blog_1"><a href="index_single.html">
			<div class="item-inner"> 
				<img src="" class="img-responsive" alt=""/>																	
					<div class="date-comments">
						<div class="time"><span class="date"><span class="word1">14</span> <span class="word2">Jan</span> </span></div>											 
						<div class="comments">
						<span><span class="word1">0</span>
						<span class="word2">comment</span></span>
						</div>
					 </div>
			</div>   
		</a></div>
		<div class="col-md-6 row_2"><a href="index_single.html">
			<div class="item-inner"> 
				<img src="" alt=""/>																	
					<div class="date-comments">
						<div class="time"><span class="date"><span class="word1">14</span> <span class="word2">Jan</span> </span></div>											 
						<div class="comments">
						<span><span class="word1">0</span>
						<span class="word2">comment</span></span>
						</div>
					 </div>
			</div>   
	    </a></div>
		<div class="clearfix"></div>
	</div>
</div>	
</div>
{% endblock %}